h1{
    text-align: center;
}

.contents, html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #E5E0FF;
    align-items: center;
    justify-content: space-between;
    gap: auto;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
}

.header input[type='text'] {
    width: 400px;
    font-size: larger;
    background-color: #FFF2F2;
    border-color: #8EA7E9;
    border-style: solid;
    border-radius: 8px;
}

.header button {
    background-color: #8EA7E9;
    border: none;
    border-radius: 8px;
}

.header button:hover {
    background-color: #7286D3;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
  
.footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background-color: #8EA7E9;
    width: 100%;
}

.contents form{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

.contents {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 500px;
    background-color: #FFF2F2;
    margin: auto;
    padding: 0;
    border-radius: 8px;
}

.contents input, ::file-selector-button{
    background-color: #8EA7E9;
    border-radius: 8px;
}

.contents input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents input[type='submit']:hover, input[type='file']::file-selector-button:hover {
    background-color: #7286D3;
}

.body ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.body h2 {
    margin-top: 100px;
}
li {
    list-style: none;
    font-size: large;
}

.body p {
    text-align: center;
    font-size: large;
}

.body img {
    max-width: 128px;
    max-height: auto;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}