h1{
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #E5E0FF;
}

.body {
    display: flex;
}

.header {
    display: flex;
    padding: 0;
}

.header p {
    font-weight: bolder;
    font-size: large;
}
.header input {
    margin-left: auto;
    background-color: #E5E0FF;
    border-radius: 6px;
    size: auto auto;
}


.footer {
    position: absolute;
    background-color: #8EA7E9;
    width: 100%;
    bottom: 0;
}

form{
    display: flex;
    width: 50%;
    margin: auto auto;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

.contents {
    display: grid;
    grid-template-rows: 50% max-content 50%;
}